<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1 class="text-capitalize"><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, qui nesciunt at ducimus. Saepe obcaecati temporibus alias expedita nobis quidem ullam ut consequatur, dolores a quod, omnis, similique eos quaerat!</p>
    </div>
    
    <div class="col-md-8">
        <h2 class="text-capitalize"><%= user.firstName %>'s campgrounds</h2>
        <ul>
            <% campgrounds.forEach(function(campground) { %>
                <li>
                    <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>